.close-btn {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  opacity: .6;
}

.close-btn::before,
.close-btn::after {
  content: '';
  display: block;
  width: 33px;
  height: 4px;
  background-color: #fff;
  margin: 0;
  position: absolute;
  transform-origin: center;
}

.close-btn::before {
  transform: rotate(45deg) translate(-1px, -1px);
}

.close-btn::after {
  transform: rotate(-45deg) translate(1px, -1px);
}